# API keys
.env

# Notebooks
test.ipynb
test_langchain.ipynb
langgraph.ipynb
customer_support.ipynb
customer-support.ipynb
agent_supervisor.ipynb
# Environment
.venv

# Datasets
*.sqlite

# Compiled Python files
*.pyc

# Figures
img